# mock | live
VITE_API_MODE=mock

# Backend API (proxy for search/auth)
VITE_API_SERVER_URL=http://localhost:4000/api

# Amadeus API (vols)
VITE_AMADEUS_CLIENT_ID=
VITE_AMADEUS_CLIENT_SECRET=

# Hotels API (hôtels)
VITE_HOTELS_API_KEY=your_hotels_api_key

# Serveur Auth (ex: https://api.your-domain.com/auth)
VITE_AUTH_SERVER_URL=http://localhost:4000/api/auth

# Serveur Paiement (ex: https://api.your-domain.com/payments)
VITE_PAYMENT_SERVER_URL=http://localhost:4000/api/payments
VITE_STRIPE_PUBLIC_KEY=
